body{
    margin-top: 300px;
    margin: 60px auto;
    max-width: 1400px;
}
body {
    display: block;
}
h1,h2,h3{
    text-align: center;
    margin: 0;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 300px;
    font-weight: 300px;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px; 
}
h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px; 
    opacity: 0.7;
}
:root {
    --primary-color: #041415;
    --secondary-color: #faffff;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.navigation-links{
    display: flex;
    justify-content:center;
  
   
    text-transform: capitalize;
 }
.contact-link{
    font-size: 22px;
     padding: 20px 15px;
     margin: 20px;
     margin-top: 40px;
     font-family: 'Times New Roman', Times, serif;
    border: 1px solid; 
    border-radius: 4px;
    text-decoration: none;
    background-color: var(--secondary-color);
    color:var(--primary-color);
}
.about-link{
    font-size: 22px;
    padding: 20px 15px;
    margin: 20px;
    margin-top: 40px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
    
}
p{
    display: inline-block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
p{
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 4px;
    font-size: 25px;
    line-height: 1,5;
    text-align: center;
}
.link{
    display: flex;
    justify-content: center;
    color: rgb(23, 122, 228);
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
}
.link-back{
    display: flex;
    justify-content: center;
    color: rgb(23, 122, 228);
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}
.about-paragraphs p{
    margin: 10px;
}
.about-paragraphs {
    margin: 30px 0;
    display: flex;
}

